{% extends 'homepage.html'%}


{% block titulo %}
aqui eh perfil de {{ usuario.username }}
{% endblock %}

{% block body %}
<body>

{% include 'nav_bar.html' %}

    

<h1>OI PERFIL de {{ usuario.username }} aqui ne</h1>



{% for foto in usuario.fotos %}
    <img src="{{ url_for('static', filename='fotos_post/{}'.format(foto.imagem)) }}" alt="">
{% endfor %}
{% if form %}
<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    {{ form.foto }}
    {{ form.botao_upload }}

</form>

{% endif %}


{% endblock %}


{% block formulario %}
{% endblock %}


</body>